* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #050505;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #1f1f1f;
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: gold;
}

.navbar nav {
  display: flex;
  gap: 24px;
}

.navbar nav a {
  color: #cfcfcf;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: gold;
}

/* Hero */
.hero {
  text-align: center;
  padding: 120px 20px 80px;
}

.hero h1 {
  font-size: 72px;
  line-height: 1.1;
  max-width: 900px;
  margin: auto;
}

.hero p {
  margin-top: 24px;
  color: #9f9f9f;
  font-size: 20px;
  max-width: 750px;
  margin-inline: auto;
}

.hero button {
  margin-top: 40px;
  background: gold;
  color: black;
  padding: 16px 36px;
  border: none;
  border-radius: 14px;
  font-weight: bold;
}
